faiss_cpu==1.9.0.post1
fastapi==0.115.8
httpx==0.28.1
langchain_anthropic
langchain-google-genai
langchain==0.3.19
langchain_community==0.3.18
langchain_core==0.3.37
langchain_experimental==0.3.4
langchain_mongodb==0.4.0
langchain_openai==0.3.6
langgraph==0.2.74
openai==1.63.2
pandas==2.2.3
paramiko==3.5.0
pydantic==2.7.4
pymongo==4.6.1
python-dotenv==1.0.1
pyvis==0.3.2
Requests==2.32.3
typing_extensions==4.12.2
uvicorn==0.34.0
tavily-python
langchain-experimental
Flask
python-dotenv
kaleido